# Dependencies
node_modules/
/.pnp
.pnp.js

# Build
/build
/dist
/.next
out/

# Testing
/coverage

# Misc
.env
.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Python / virtual env
.venv/
venv/
.python-version

__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.project
.classpath
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db

/generated/prisma
/prisma/server/src/database/prisma/generated
